<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sree.myappmarch">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppMarch">
        <activity
            android:name=".TimePickerActivity"
            android:exported="false" />
        <activity
            android:name=".PlayVideo"
            android:exported="false" />
        <activity
            android:name=".samples.HorizontalScroll"
            android:exported="false" />
        <activity
            android:name=".ActivityLifeCycle"
            android:exported="true" />
        <activity
            android:name=".ImplicitIntent"
            android:exported="false" />
        <activity
            android:name=".samples.GridWithImage"
            android:exported="true" />
        <activity
            android:name=".CustomListView"
            android:exported="false" />
        <activity
            android:name=".Sample"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity android:name=".TimePickerWithEditText"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/mytheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>